# JWT Secret
JWT_SECRET=default_secret_shamfood

# Brevo SMTP Configuration
BREVO_SMTP_USER=
BREVO_SMTP_KEY=
BREVO_FROM_EMAIL=
BREVO_FROM_NAME=ShamFood

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
